<div class="card bg-base-100 shadow-sm flex place-content-center bg-slate-500 w-xl p10">
  <app-heading textContent="Quiz Complete"/>
  <h2>{{quizEndMessage()}} You scored {{this.score}} / 60 and answered {{this.questionsCorrect}} / 10.</h2>
  <div class="mb-5">
    <ul>
      Here is how you did:
      <app-quiz-results-table />
    </ul>
  </div>
  <div class="flex flex-col">
    <app-button class="mb-5" content="Play Again" width="w-60" (click)="playQuizAgain()"/>
    <app-button class="mb-5" content="Choose a Continent" width="w-60" (click)="playQuizDifferentContinent()"/>
  </div>
</div>
