<div class="card bg-base-100 shadow-sm flex place-content-center bg-slate-500 w-xl p10">
  <app-heading textContent="Quiz Complete"/>
  <h2>{{quizEndMessage()}} You answered {{this.questionsCorrect}} correctly out of 10 and scored {{this.score}} out of 60.</h2>
  <div class="mb-5">
    <ul>
      You got the following questions correct:
      <li>
      </li>
    </ul>
  </div>
  <div class="flex flex-col">
    <app-button class="mb-5" content="Play Again" width="w-60" (click)="playQuizAgain()"/>
    <app-button class="mb-5" content="Choose a Continent" width="w-60" (click)="playQuizDifferentContinent()"/>
  </div>
</div>
