<div class="card bg-base-100 min-w-3xl min-h-3xl shadow-sm flex place-content-center bg-slate-500">
  <h2 class="text-3xl">World Flag Challenge</h2>
  <figure class="mt-8">
    <img [src]="quizFlagImage()" alt="Shoes" class="border-2 rounded-lg" />
  </figure>
  <div class="card-body">
    <div class="flex items-center gap-2">
      <label for="guessCountry" class="font-medium text-lg">Guess:</label>
      <input
        id="guessCountry"
        type="text"
        class="input text-gray-700"
        placeholder="Enter country"
        [value]="currentGuess()"
        (input)="currentGuess.set($event.target.value)"
      />
    </div>

    <h1>{{ correctCountry() }}</h1>
    <div class="flex flex-col gap-2">
      <h3 class="card-title">Wrong guesses:</h3>
      <ol class="list-decimal ml-6 mb-3 flex flex-col items-start">
        @for (guess of quizService.incorrectGuesses(); track guess) {
          <li>{{ guess }}</li>
        }
      </ol>
    </div>
    <div class="flex flex-col gap-2">
      <h3 class="card-title">Clues:</h3>
      <ol class="list-decimal ml-6 mb-3 flex flex-col items-start">
        @for (clue of quizService.clues(); track clue.label; let index = $index) {
          @if (index < quizService.incorrectGuesses().length) {
            <li>{{ clue.label }}: {{ clue.value }}</li>
          }
        }
      </ol>
    </div>
    <div class="card-actions justify-end">
      <button class="btn btn-primary" (click)="submitGuess()">Submit guess</button>
    </div>
    <h3>Question {{ questionNumber() }} of 10</h3>
  </div>
</div>
